html {
  scroll-behavior: smooth;
}

body {
	margin: 0px;
	background-color: #EFEEEE;
	position: relative;
}

a:hover {
	text-decoration: none;
}

#banner {
	background-color: #000;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;

	width: 100%;
}

#bannerTitle {
	color: white;

	margin: 0px;
	
	top: 50px;
}

.navButton {	
	display: inline-block;
	
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;

	transition: background-color 0.5s ease-out;
}

.navButton:hover {
  background-color: #555;
  cursor: pointer;
}

.navButtonIcon {
	width: 0px;
	height: 0px;

	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.navButton:hover .navButtonIcon {
	width: 10px;
	height: 10px;
}

.buttonLabel {
	color: white;
}

.contactLogo {
	height: 30px;

	margin: 5px;
}

.logoContainer {
	display: inline-block;
	padding: 10px;

	border-radius: 20px;

	transition: background-color 0.5s ease-in-out;
}

.logoContainer:hover {
	background-color: #99BADD;
}

.logoLabel {
	font-size: 0%;
	
	transition: font-size 0.5s ease-in-out;
}

.logoContainer:hover .logoLabel {
	font-size: 100%;
}

#stickyNavContainer {
	white-space: nowrap;
	background: #37474F;
	
	padding: 0px;
}

#stickyNavContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Only stick if you can fit */
@media (min-height: 300px) {
  #stickyNavContainer ul {
    /*position: sticky;*/
    top: 0;
  }
}

#stickyNavContainer ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.oldNav {
	position: static;
}

.stickyNav {
	position: fixed;
	top: 0;
}