body {
	margin: 0px;
	background-color: #EFEEEE;
}

#banner {
	background-color: #000;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;

	width: 100%;
}

#bannerTitle {
	color: white;

	margin: 0px;
	
	top: 50px;
}

#navBar {
	background-color: #333;
	padding: 10px;

	width: 100%;
}

.navButton {	
	display: inline-block;
	
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

	transition: background-color 0.5s ease-out;
}

.navButton:hover {
	/*99BADD*/
  background-color: #555;
  cursor: pointer;
}

.navButtonIcon {
	width: 0px;
	height: 0px;

	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.navButton:hover .navButtonIcon {
	width: 10px;
	height: 10px;
}

.buttonLabel {
	color: white;
}